packages
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log
*.cache
FirstWebApplication/obj/Debug/net6.0/FirstWebApplication.GeneratedMSBuildEditorConfig.editorconfig
FirstWebApplication/obj/FirstWebApplication.csproj.nuget.dgspec.json
FirstWebApplication/obj/project.assets.json
FirstWebApplication/obj/project.nuget.cache
FirstWebApplication/obj/Debug/net6.0/FirstWebApplication.GeneratedMSBuildEditorConfig.editorconfig
FirstWebApplication/obj/FirstWebApplication.csproj.nuget.dgspec.json
.vs/FirstWebApplication/v17/.suo
FirstWebApplication/obj/Debug/net6.0/FirstWebApplication.GeneratedMSBuildEditorConfig.editorconfig
FirstWebApplication/obj/project.assets.json
FirstWebApplication/obj/project.nuget.cache
.vs/FirstWebApplication/FileContentIndex/*
.vs/FirstWebApplication/v17/.suo
.vs/FirstWebApplication/v17/.suo
FirstWebApplication/obj/Debug/net6.0/FirstWebApplication.dll
FirstWebApplication/obj/Debug/net6.0/FirstWebApplication.pdb
FirstWebApplication/bin/Debug/net6.0/FirstWebApplication.pdb
FirstWebApplication/bin/Debug/net6.0/FirstWebApplication.dll
.vs/FirstWebApplication/v17/.suo
FirstWebApplication/obj/Debug/net6.0/staticwebassets.development.json
FirstWebApplication/obj/Debug/net6.0/staticwebassets.pack.json
FirstWebApplication/obj/Debug/net6.0/staticwebassets/msbuild.FirstWebApplication.Microsoft.AspNetCore.StaticWebAssets.props
.vs/FirstWebApplication/DesignTimeBuild/.dtbcache.v2
*.testlog
*.testlog
Задание 1/Solver/.vs/Solver/FileContentIndex/4c422b15-5655-4e1c-8957-ef80587fd193.vsidx
Задание 1/Solver/.vs/Solver/FileContentIndex/b73df6a6-771e-4936-a8e7-c8878658fc21.vsidx
Задание 1/Solver/.vs/Solver/FileContentIndex/bb9869ef-ff64-4616-8015-2a0b32a5232c.vsidx
Задание 1/Solver/.vs/Solver/FileContentIndex/read.lock
Задание 1/Solver/Solver.Tests/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Задание 1/Solver/Solver.Tests/obj/Debug/net7.0/Solver.Tests.AssemblyInfo.cs
Задание 1/Solver/Solver.Tests/obj/Debug/net7.0/Solver.Tests.GeneratedMSBuildEditorConfig.editorconfig
Задание 1/Solver/Solver.Tests/obj/Debug/net7.0/Solver.Tests.GlobalUsings.g.cs
Задание 1/Solver/Solver.Tests/obj/project.assets.json
Задание 1/Solver/Solver.Tests/obj/Solver.Tests.csproj.nuget.dgspec.json
Задание 1/Solver/Solver.Tests/obj/Solver.Tests.csproj.nuget.g.props
Задание 1/Solver/Solver.Tests/obj/Solver.Tests.csproj.nuget.g.targets
Задание 1/Solver/.vs/Solver/FileContentIndex/b73df6a6-771e-4936-a8e7-c8878658fc21.vsidx
Задание 1/Solver/.vs/Solver/FileContentIndex/merges/a868acd8-ab53-4706-b129-fd3eb73c0103.vsidx
Задание 1/Solver/.vs/Solver/FileContentIndex/merges/75df6e70-60f9-4bc4-ba51-8273e2380df0.vsidx
Задание 1/Solver/.vs/Solver/FileContentIndex/b73df6a6-771e-4936-a8e7-c8878658fc21.vsidx
Задание 1/Solver/.vs/Solver/FileContentIndex/eb22fb15-129f-48a0-bf94-b690cbc12d06.vsidx
