.channels-header-root-fsEj0 {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 74px;
    flex-shrink: 0;
}

.channels-header-root_pushMode-dF6_6 {
    padding: 0 15px 0 20px;
    height: 40px;
}

.channels-header-root_withPush-h9L69 {
    padding-top: 10px;
}

.channels-header-text-gG65h {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.toggler-zone-root-ASUKF {
    cursor: pointer;
}

.toggler-zone-root-ASUKF:hover {
    background-color: #f7f7f7;
    border-radius: 3px 3px 0 0;
}

.toggler-root-MjNp8 {
    display: flex;
    position: absolute;
    z-index: 2;
}

.toggler-root-MjNp8 .toggler-button-qeLT9 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: var(--color-palette-black);
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.toggler-button-qeLT9:hover {
    background-color: var(--color-palette-warmGray8);
}

.toggler-buttonIconWrap-BrnTz {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.toggler-toggler_expanded-RVvIp {
    transform: rotate(180deg);
}

.clickable-button-MWD6w {
    display: inline-flex;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100%;
    border-radius: 6px;
}

.clickable-button_fullwidth-RuA9X {
    width: 100%;
}

.clickable-content-F3s1o {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    outline: none;
    cursor: pointer;
}

.clickable-content-F3s1o::before {
    content: '';
    position: absolute;
}

.counter-root-erbWW {
    display: flex;
    align-items: center;
}

.counter-title-gXrtq {
    font-weight: bold;
    margin-right: 5px;
}

.counter-count-zwYLp {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-palette-white);
    background: var(--color-palette-red500);
    height: 16px;
    min-width: 16px;
    border-radius: 8px;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    padding: 0 4px;
    box-sizing: border-box;
}

.element-timing-root-hWAri {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.element-timing-content-kCUtB {
    width: 0;
    height: 0;
    color: rgba(255, 255, 255, 0);
    font-size: 0;
}

.reconnect-indicator-loaderBlock-vqz5D {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}

.reconnect-indicator-loader-lpbTe {
    display: inline-flex;
    margin-left: 6px;
    animation: reconnect-indicator-spin-L1WvS 1s infinite linear;
}

@keyframes reconnect-indicator-spin-L1WvS {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.support-chat-preview-root-hA7NN {
    display: flex;
    align-items: center;
    height: 72px;
    padding: 0 24px;
    margin: 16px 24px 20px 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--color-palette-blue50);
}

.support-chat-preview-root-hA7NN:hover {
    background-color: var(--color-palette-blue100);
}

.support-chat-preview-avatar-t4epZ {
    width: 48px;
    height: 48px;
    margin-left: 12px;
    margin-right: 21px;
    background: no-repeat center center/cover;
}

.support-chat-preview-info-AHjEX {
    align-self: flex-start;
    padding-top: 15px;
}

.support-chat-preview-root_mobile-zqiHT .support-chat-preview-avatar-t4epZ {
    width: 40px;
    height: 40px;
    margin-right: 11px;
}

.support-chat-preview-name-q3a1s {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 0;
}

.support-chat-preview-message-Ru1qi {
    display: flex;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
}

.support-chat-preview-unreadIndicator-OV9ft {
    margin-left: 4px;
    width: 8px;
    height: 8px;
    background-color: var(--color-palette-red500);
    border-radius: 50%;
}

.channel-preview-root-lSX1o {
    --right-padding: 24px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding: 23px var(--right-padding) 21px 20px;
    border-radius: 20px;
    min-height: 58px;
}

.channel-preview-root-lSX1o:hover {
    background-color: var(--color-palette-warmGray2);
}

.channel-preview-root_moderation-GaTkP {
    border-radius: 0;
    cursor: pointer;
}

.channel-preview-root_moderation-GaTkP:hover {
    background-color: var(--color-palette-blue50);
}

.channel-preview-root_mobile-lfaKX:hover {
    background-color: #fff;
}

.channel-preview-root_mini-QttDv {
    border-radius: 0;
}

.channel-preview-root_u2u-xTAeh {
    padding: 18px var(--right-padding) 12px 20px;
}

.channel-preview-root_u2uThreeOrMore-uJol0 {
    padding: 18px var(--right-padding) 10px 20px;
}

.channel-preview-root_u2uThreeOrMore-uJol0 .channel-preview-chatCheckbox-bRnJ2 {
    margin-top: 2px;
}

.channel-preview-root_selected-WR1rZ {
    background-color: #d9f3ff;
}

.channel-preview-info-FzA2d {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
}

.channel-preview-root_u2u-xTAeh .channel-preview-info-FzA2d {
    margin-top: 6px;
}

.channel-preview-info-FzA2d:not(:last-child) {
    margin-right: 24px;
}

.channel-preview-root_mini-QttDv .channel-preview-info-FzA2d:not(:last-child),
.channel-preview-root_mobile-lfaKX .channel-preview-info-FzA2d:not(:last-child) {
    margin-right: 16px;
}

.channel-preview-aside-jZ_O0 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.channel-preview-root_u2u-xTAeh .channel-preview-aside-jZ_O0 {
    margin-top: 6px;
}

.channel-preview-asideBottom-V72Ri {
    position: absolute;
    right: var(--right-padding);
    bottom: 20px;
    display: flex;
    align-items: center;
}

.chat-checkbox-root-JsFKr {
    position: relative;
    margin-right: 8px;
    z-index: 1;
}

.checkbox-root-Fem6m {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-root-Fem6m::before {
    position: absolute;
    content: ' ';
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}

.checkbox-checkbox-SC88H {
    position: relative;
    width: 16px;
    height: 16px;
    background-color: var(--color-palette-warmGray8);
    border-radius: 3px;
    color: var(--color-palette-white);
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    flex-shrink: 0;
}

.checkbox-input-t7foB {
}

.checkbox-label-pzMqn {
    margin-left: 6px;
    color: var(--color-palette-black);
}

.checkbox-checkbox_checked-Degfj {
    border: none;
}

.checkbox-root_defaultInverse-RmAIP .checkbox-checkbox_checked-Degfj {
    background-color: var(--color-palette-gray84);
}

.checkbox-root_defaultInverse2-wH6sY .checkbox-checkbox_checked-Degfj {
    background-color: var(--color-palette-gray68);
}

.checkbox-checkbox_focused-axyd1 {
}

.checkbox-checkbox_checked-Degfj:hover {
    background-color: var(--color-palette-gray76);
}

.checkbox-root_disabled-kNipX .checkbox-checkbox-SC88H {
    background-color: var(--color-palette-warmGray16);
}

.checkbox-checkbox-SC88H:not(.checkbox-checkbox_checked-Degfj):hover {
    background-color: var(--color-palette-warmGray16);
}

.checkbox-root_disabled-kNipX {
    cursor: initial;
}

.context-preview-root-tinFB {
    position: relative;
    width: 65px;
    flex-shrink: 0;
    margin-right: 16px;
}

.context-preview-itemPreview-yMfyV {
    margin-left: 5px;
}

.context-preview-u2iAvatarsWrap-D6ceQ {
    position: absolute;
    display: flex;
    top: -7px;
    left: -2px;
}

.context-preview-contactAvatar-dAujZ {
    border: 2px solid var(--color-palette-white);
    border-radius: 50%;
}

.context-preview-contactAvatar_small-Fg7Dp {
    max-width: 20px;
    max-height: 20px;
}

.context-preview-contactAvatar_small-Fg7Dp + .context-preview-contactAvatar_small-Fg7Dp {
    margin-left: -12px;
}

.context-preview-contactAvatar_large-YcgEG {
    max-width: 46px;
    max-height: 46px;
}

.context-preview-contactAvatar_large-YcgEG + .context-preview-contactAvatar_large-YcgEG {
    margin-left: -34px;
}

.context-preview-contextAvatar-sYkXQ {
    margin-left: 9px;
}

.context-preview-u2uAvatarsWrap-S_csm {
    margin-left: 3px;
    display: flex;
}

.item-preview-root-HfTwm {
    display: block;
    border-radius: 4px;
    background: url(https://www.avito.st/remote-modules/messenger/af36d7cc6/10e4656dd29d866a4892.svg) no-repeat center/cover;
    background-color: var(--color-palette-gray4);
    border: 0;
    flex-shrink: 0;
}

.item-preview-nophoto-luldL {
    width: 100%;
    height: 100%;
}

.chat-name-root-Y8SrJ {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.chat-name-name-QFaSO {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    margin-right: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.online-status-lowerCase-ZePO3 {
    text-transform: lowercase;
}

.online-status-text-oJr8x {
    display: inline-flex;
    align-items: center;
}

.online-status-onlineIndicator-F2pUB {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-palette-green600);
    vertical-align: middle;
}

time + .online-status-onlineIndicator-F2pUB {
    margin-left: 4px;
}

.online-status-typings-Adwqf {
    line-height: 6px;
}

.chat-item-root-H5wtD {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
}

.chat-item-root_unread-pZhoD {
    font-weight: 700;
}

.chat-item-title-WwjbD {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chat-item-title-WwjbD:not(:last-child)::after {
    content: ' \00B7\00A0';
}

.chat-item-priceString-eEdaG {
    white-space: nowrap;
}

.chat-message-root-wJb9X {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
}

.chat-message-message-hVv88 {
    white-space: nowrap;
    color: var(--color-palette-gray44);
    text-overflow: ellipsis;
    overflow: hidden;
}

.chat-message-message_unread-lmLpk {
    color: var(--color-palette-black);
    font-weight: 700;
}

.chat-message-typing-GuDZy {
    display: flex;
    color: var(--color-palette-gray44);
}

.chat-message-typing-GuDZy::after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: chat-message-ellipsis-cLSOb steps(3, end) 1s infinite;
    content: '\2026'; /* ascii for ellipsis */
    width: .25em;
}

@keyframes chat-message-ellipsis-cLSOb {
    to {
        width: 1.25em;
    }
}

.last-message-preview-draft-HLLng {
    color: var(--color-palette-red500);
}

.last-message-preview-callIcon-Ssgs1 {
    display: inline-block;
    line-height: 16px;
}

.last-message-preview-callIcon-Ssgs1::after {
    content: '\A0';
}

.fullscreen-popup-content-oUUyH {
    pointer-events: all;
    box-shadow: 0 12px 16px rgba(0, 0, 0, .08), 0 0 16px rgba(0, 0, 0, .16);
    position: relative;
    background-color: var(--color-palette-white);
    display: flex;
    flex-direction: column;
    height: 100%;
    animation: fullscreen-popup-moveUp-jQCu0 .335s;
}

.fullscreen-popup-content_horizontalAnimation-ocbhy {
    animation: fullscreen-popup-moveLeft-yO_UQ .2s;
}

.fullscreen-popup-content_closing-Bey6q {
    animation-name: fullscreen-popup-moveDown-lUNbv;
}

.fullscreen-popup-content_closing-Bey6q.fullscreen-popup-content_horizontalAnimation-ocbhy {
    animation-name: fullscreen-popup-moveRight-t8pCY;
}

.fullscreen-popup-children-SaLDF {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
}

.fullscreen-popup-closeButton-ZEd55 {
    background: none;
    border: none;
}

.fullscreen-popup-title-QjPUw {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;
    display: inline-block;
}

@keyframes fullscreen-popup-moveUp-jQCu0 {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes fullscreen-popup-moveDown-lUNbv {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(100%);
    }
}

@keyframes fullscreen-popup-moveLeft-yO_UQ {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fullscreen-popup-moveRight-t8pCY {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

.overlay-root-w8lmO {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.overlay-fader-Nsofj {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-palette-black40);
    animation: overlay-appear-NBqi1 .24s;
}

.overlay-root_out-A1iv5 .overlay-fader-Nsofj {
    animation-name: overlay-disappear-GzBuT;
}

@keyframes overlay-appear-NBqi1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes overlay-disappear-GzBuT {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.header-root-nk1lD {
    background-color: var(--color-palette-white);
    padding: 0 16px;
}

.header-root_sticky-SV6v2 {
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-firstRow-PIUsb {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-title-Dlftq {
    width: calc(100% - 32px); /* -ширина 1 кнопки */
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-title_withLeftSlot-l1qNg {
    width: calc(100% - 64px); /* -ширина 2 кнопок */
}

.header-title_text-Enhjg {
    overflow: hidden; /* не даем тексту вылезать за экран */
}

.header-leftBlock-v1998,
.header-rightBlock-EXQ_7 {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    flex-shrink: 0;
}

.header-leftBlock-v1998 {
    margin-left: -4px;
    margin-right: 4px;
}

.header-rightBlock-EXQ_7 {
    margin-right: -4px;
    margin-left: 4px;
}

.header-secondRow-f7Et7 {
    margin-top: 4px;
    padding-bottom: 6px;
}

.platform-popup-componentWrap-Uraxo {
    position: relative;
    width: 100%;
    height: 100%;
}

.platform-popup-componentWrap_withLoader-jxR3f {
    height: calc(100% - 56px);
}

.spinner-root-eCf0L {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    flex-shrink: 0;
}

.spinner-root_overlay-MWfpr {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.platform-popup-componentWrap-aoJ3B {
    position: relative;
    width: 100%;
    min-height: 100px;
}

.moderation-labels-root-miFLV {
    display: flex;
    flex-wrap: wrap;
}

.moderation-labels-label-inHjH {
    border-radius: 4px;
    padding: 1px 7px 2px;
    margin-bottom: 4px;
    background: var(--color-palette-red100);
    color: #d4393e;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.moderation-labels-label-inHjH:not(:last-child) {
    margin-right: 4px;
}

.moderation-labels-label-inHjH::first-letter {
    text-transform: capitalize;
}

.chat-message-status-root-cnky2 {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-palette-gray44);
    height: 18px;
}

.chat-message-status-statusWrap-sow0v {
    margin-right: 2px;
}

.chat-message-status-time-a6YJ7 {
    white-space: nowrap;
}

.chat-message-status-root_unread-dZWE9 .chat-message-status-time-a6YJ7 {
    font-weight: 700;
    color: var(--color-palette-black);
}

.status-icon-root-kGiuI {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: text-bottom;
}

.pinned-icon-root-zoJO_ {
    display: flex;
    color: var(--color-palette-gray28);
}

.buttons-popup-buttons-MtP6n {
    padding-top: 16px;
    width: 100%;
    overflow-x: hidden;
}

.buttons-popup-buttons_mobile-hccNw {
    padding: 16px;
}

.buttons-popup-buttonWrap-DK2G9 + .buttons-popup-buttonWrap-DK2G9 {
    margin-top: 8px;
}

.buttons-popup-contentWrapper-uR7ds {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-popup-buttonText-n8lUE {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.channel-actions-items-textWithBadge-Qb7ND {
    display: inline-flex;
    width: 100%;
    align-items: baseline;
}

.channel-actions-items-notificationBadge-kO6KG {
    margin-left: 6px;
}

.channel-actions-items-textWithBadge_mobile-uh6vj .channel-actions-items-notificationBadge-kO6KG {
    font-size: 13px;
    line-height: 16px;
}

.channel-actions-items-itemLinkText-Q8W4j {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
}

.channel-actions-items-itemTitle-jTkwd {
    text-overflow: ellipsis;
    overflow: hidden;
}

.notification-badge-root-JVz6D {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: var(--color-palette-red500);
    color: var(--color-palette-white);
    font-size: 14px;
    line-height: 20px;
    padding: 2px 6px;
    min-width: 12px;
}

.notification-badge-root_small-Qxtw6 {
    font-size: 13px;
    line-height: 18px;
    border-radius: 10px;
    padding: 1px 6px;
    min-width: 10px;
}

.notification-badge-root_tiny-XBHAU {
    font-size: 11px;
    line-height: 14px;
    border-radius: 7px;
    padding: 0 3.5px;
    min-width: 7px;
}

.tooltip-root-PrhMd.tooltip-root_msg-vH3NT {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05), 0 4px 24px rgba(0, 0, 0, .12);
    border-radius: 6px 6px 12px 12px;
    border: none;
}

.tooltip-root-PrhMd.tooltip-root_msg-vH3NT > i::before {
    border: none;
}

.tooltip-root-PrhMd.tooltip-root_msg-vH3NT > i {
    margin: 1px;
}

.tooltip-content-KFK4l {
    text-align: left;
    white-space: normal;
}

.context-menu-content-iVFKr {
    position: relative;
    min-width: 184px;
    padding: 20px 0 24px;
    display: flex;
    flex-direction: column;
}

.context-menu-button-U5477 {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    outline: 0;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background-color: var(--color-palette-beige50);
    color: var(--color-palette-black);
}

.context-menu-button-U5477:hover {
    background-color: var(--color-palette-beige200);
}

.action-item-item-ycaNi {
    position: relative;
    padding: 8px 16px 10px;
    text-decoration: none;
    color: var(--color-palette-black);
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    background: var(--color-palette-white);
    border: 0;
    outline: 0;
    width: 100%;
    border-radius: 0;
    white-space: nowrap;
}

.action-item-item-ycaNi:hover {
    background-color: var(--color-palette-warmGray2);
}

.action-item-icon-qE37l {
    display: flex;
    width: 24px;
}

.action-item-link-CDRX2,
.action-item-link-CDRX2:visited,
.action-item-link-CDRX2:hover,
.action-item-link-CDRX2:active {
    text-decoration: none;
}

.chat-preview-menu-root-YhODt {
    display: none;
    position: relative;
    color: #b8b6b2;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.chat-preview-menu-root-YhODt::after {
    position: absolute;
    content: '';
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}

.chat-preview-menu-root-YhODt:hover {
    color: var(--color-palette-black);
}

.chat-preview-menu-root_visible-hpUyn {
    display: flex;
}

.onboarding-root-Q8TRi {
    position: relative;
}

.onboarding-pulseDot-Fqj0P {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%) translateY(-50%) scale(0);
    width: 8px;
    height: 8px;
    border-radius: 8px;
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: .2s;
    transition-timing-function: ease;
    z-index: 2;
    pointer-events: none;
}

.onboarding-pulseDot_active-KnBJC {
    transform: translateX(50%) translateY(-50%) scale(1);
    opacity: 1;
}

.onboarding-pulseDot_active-KnBJC::before,
.onboarding-pulseDot_active-KnBJC::after {
    background-color: var(--color-palette-blue500);
}

.onboarding-pulseDot_red-k8Ns5::before,
.onboarding-pulseDot_red-k8Ns5::after {
    background-color: var(--color-palette-red500);
}

.onboarding-pulseDot_active-KnBJC::before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    animation: onboarding-pulse-ring-hkbgL 3s cubic-bezier(.215, .61, .355, 1) infinite;
}

.onboarding-pulseDot_active-KnBJC::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    animation: onboarding-pulse-dot-svOjz 2s cubic-bezier(.455, .03, .515, .955) -.4s infinite;
}

@keyframes onboarding-pulse-ring-hkbgL {
    0% {
        transform: scale(.33);
    }

    50%,
    100% {
        opacity: 0;
    }
}

@keyframes onboarding-pulse-dot-svOjz {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(.8);
    }
}

