.push-root-hq753 {
    width: 250px;
}

.push-root_withPush-n8IFK {
    width: 375px;
}

.link-link-D_Y8x {
    font: inherit;
    display: inline;
    padding: 0;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    background: 0;
    outline: 0;
    line-height: inherit;
}

.link-link-D_Y8x:focus {
    box-shadow: 0 0 1px 3px rgba(0, 170, 255, .2);
}

.link-design-default-Wxg6A,
.link-design-default-Wxg6A.link-novisited-YbOXQ:visited {
    color: #009CF0;
}

.link-design-default-Wxg6A:visited {
    color: #8C4FE8;
}

.link-design-default-Wxg6A:hover,
.link-design-default-Wxg6A:active,
.link-design-default-Wxg6A:visited:hover {
    color: #FF6163;
}

.link-design-inherited-Ksmzf {
    opacity: var(--theme-link-opacity-default);
}

.link-design-inherited-Ksmzf,
.link-design-inherited-Ksmzf:visited {
    color: inherit;
}

.link-design-inherited-Ksmzf:hover {
    opacity: var(--theme-link-opacity-hover);
}

.link-underline-solid-FrjjZ {
    border-bottom: 1px solid currentColor;
}

.link-underline-dashed-oijDS {
    border-bottom: 1px dashed currentColor;
}

.paragraph-space-s-LslxP {
    padding-top: 4px;
    padding-bottom: 4px;
}

.paragraph-space-m-LiEGl {
    padding-top: 8px;
    padding-bottom: 8px;
}

/* stylelint-disable selector-max-universal */

.group-root-NeiJI {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.group-spaced-q94Es > :not(:first-child) {
    margin-left: 20px;
}

.group-vertical-avNN6 {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
}

.group-vertical-avNN6.group-spaced-q94Es > * {
    margin-left: inherit;
}

.group-vertical-avNN6.group-spaced-q94Es > :not(:first-child) {
    margin-top: 20px;
}

.group-grow-fZcnG {
    flex-grow: 1;
}

.select-select-box-TQ7Vi {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    border-style: solid;
    background-color: #ffffff;
    color: #000000;
    border-color: #cccccc;
}

.select-select-box-TQ7Vi:not(.select-error-Yuh7_):not(.select-disabled-j51AM):hover {
    border-color: #B8B8B8;
}

.select-select-box-TQ7Vi.select-root_stick-after-Tb_NZ.select-size-s-lUPNm:not(.select-error-Yuh7_):not(.select-disabled-j51AM):hover {
    z-index: 2;
}

.select-error-Yuh7_ {
    border-color: #FF6163;
}

.select-error-Yuh7_:hover {
    border-color: #F05456;
}

.select-part-LFDPW {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.select-icon-uGbdd {
    color: #999999;
}

.select-icon-uGbdd:hover {
    color: var(--theme-select-hoverIconColor);
}

.select-size-l-VabOf {
    font-size: 20px;
    line-height: 28px;
    height: 50px;
    border-width: 1px;
    border-radius: 3px;
}

.select-size-m-w6TMu {
    font-size: 16px;
    line-height: 24px;
    height: 40px;
    border-width: 1px;
    border-radius: 3px;
}

.select-size-s-lUPNm {
    font-size: 14px;
    line-height: 20px;
    height: 30px;
    border-width: 1px;
    border-radius: 3px;
}

.select-focus-CdU6y {
    z-index: 20;
}

.select-focus-CdU6y:not(.select-error-Yuh7_) {
    box-shadow: 0px 0px 1px 3px rgba(0, 170, 255, 0.3);
}

.select-focus-CdU6y.select-error-Yuh7_ {
    box-shadow: 0px 0px 1px 3px rgba(240, 60, 55, 0.3);
}

.select-disabled-j51AM {
    pointer-events: none;
    cursor: default;
    background-color: #F5F5F5;
    border-color: #cccccc;
    color: #5C5C5C;
    box-shadow: none;
}

.select-select-bFhap {
    background-color: transparent;
    background-image: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: inherit;
    box-shadow: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer;
    text-indent: .01px;
    outline: 0;
    color: inherit;
}

.select-select-bFhap option[value=''] {
    color: #8F8F8F;
}

.select-select-bFhap::-ms-expand {
    display: none;
}

.select-size-s-lUPNm .select-select-bFhap {
    padding-left: 7px;
    padding-right: calc(7px + 1.5em);
}

.select-size-s-lUPNm .select-part-LFDPW {
    right: 7px;
}

.select-size-m-w6TMu .select-select-bFhap {
    padding-left: 10px;
    padding-right: calc(10px + 1.5em);
}

.select-size-m-w6TMu .select-part-LFDPW {
    right: 10px;
}

.select-size-l-VabOf .select-select-bFhap {
    padding-left: 12px;
    padding-right: calc(12px + 1.5em);
}

.select-size-l-VabOf .select-part-LFDPW {
    right: 12px;
}

/* Хак для отключения обводки точками в FireFox */
.select-select-bFhap:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000000;
}

.select-select-bFhap option:not(:checked) {
    color: #000000;
}
/* Хак для отключения обводки точками в FireFox */

.select-select-bFhap:focus::-ms-value {
    color: inherit;
    background: none;
}

.select-root_stick-after-Tb_NZ {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.select-root_stick-before-pEsm7 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.select-root_stick-above-__sxD {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select-root_stick-below-Ksw6C {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
}

/* stylelint-disable length-zero-no-unit */
.select-root_stick-before-pEsm7.select-size-s-lUPNm {
    margin-left: -1px;
}

.select-root_stick-before-pEsm7.select-size-m-w6TMu {
    margin-left: -1px;
}

.select-root_stick-before-pEsm7.select-size-l-VabOf {
    margin-left: -1px;
}

.select-select-box-TQ7Vi .select-prefix-n3PNc {
    right: auto;
}

.select-size-s-lUPNm .select-prefix-n3PNc {
    left: 7px;
}

.select-size-m-w6TMu .select-prefix-n3PNc {
    left: 10px;
}

.select-size-l-VabOf .select-prefix-n3PNc {
    left: 12px;
}

/* stylelint-disable selector-max-universal, no-descending-specificity, length-zero-no-unit */

.suggest-root-eI4KJ {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ffffff;
    color: #000000;
    border-color: #cccccc;
    border-style: solid;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.suggest-tag-aFaiF {
    display: flex;
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    max-width: 100%;
    background-color: #ebf6fa;
    border-radius: 10px;
    margin-top: 4px;
    margin-right: 5px;
    padding: 0px 4px 0 10px;
    line-height: 20px;
    height: 20px;
    z-index: 10;
}

.suggest-disabled-IuYyI .suggest-tag-aFaiF,
.suggest-readOnly-Hos5g .suggest-tag-aFaiF {
    padding-right: 10px;
}

.suggest-tag-inner-N6KNM {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.suggest-tag-delete-uw4tI {
    position: relative;
    margin-top: 3px;
    margin-left: 2px;
}

.suggest-input-clear-pQBdd {
    position: absolute;
    right: 10px;
    top: 6px;
    cursor: pointer;
    width: 14px;
    height: 14px;
    overflow: hidden;
    text-indent: 9999px;
    font-size: 0;
    background: none;
    border: none;
    outline: none;
}

.suggest-input-clear-pQBdd::before,
.suggest-input-clear-pQBdd::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 1px;
    left: 50%;
    top: 50%;
    background-color: #A3A3A3;
    transition: background-color .25s ease;
}

.suggest-input-clear-pQBdd::before {
    transform: translate(-50%) rotate(45deg);
}

.suggest-input-clear-pQBdd::after {
    transform: translate(-50%) rotate(-45deg);
}

.suggest-input-clear-pQBdd:hover::before,
.suggest-input-clear-pQBdd:hover::after {
    background-color: #000000;
}

.suggest-input-LtKLE {
    flex-grow: 2;
    background-color: transparent;
    vertical-align: middle;
    color: inherit;
    margin: 0;
    height: 20px;
    box-sizing: border-box;
    border: 0;
    display: inline-block;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    font-size: inherit;
    font-family: inherit;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    min-width: 1px;
}

.suggest-input-LtKLE::-ms-clear {
    display: none;
}

.suggest-root_show-shadow-a6PA2 .suggest-input-LtKLE {
    color: #ffffff;
}

.suggest-root_loading-gCRkh .suggest-input-LtKLE {
    padding-right: 20px;
    background-image: url(https://www.avito.st/remote-modules/messenger/af36d7cc6/1e80b20dfd2b1dbc123d.gif);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16px 16px;
}

.suggest-input-LtKLE:focus::-webkit-input-placeholder {
    color: transparent;
}

.suggest-input-LtKLE:focus::-moz-placeholder {
    color: transparent;
}

.suggest-input-LtKLE:focus:-ms-input-placeholder {
    color: transparent;
}

.suggest-shadow-AptnX {
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid transparent;
    padding: 0 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
    line-height: 28px;
    color: #8F8F8F;
}

.suggest-shadow-name-MxhZD {
    color: #000000;
}

.suggest-shadow-postfix-tvmzS {
    color: #8F8F8F;
    margin-left: 4px;
}

.suggest-suggests-mdnbD {
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1010;
    margin: 1px 0 0;
    padding: 6px 0 8px;
    max-height: 300px;
    box-shadow: 0 1px 3px 0 #9b9b9b;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
}

.suggest-suggests-status-Sjjb2 {
    text-align: center;
    color: #8F8F8F;
    height: 21px;
    line-height: 21px;
    display: block;
}

.suggest-suggest-mDQcM {
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.suggest-suggest-content-GFH9s {
    position: relative;
}

.suggest-suggest-postfix-bl5Dn {
    margin-left: 9px;
    color: #8F8F8F;
}

.suggest-suggest_active-qXF6K {
    background-color: #D6F1FF;
}

.suggest-suggest_disabled-aAXa2 {
    cursor: default;
    color: #999999;
}

.suggest-size-l-sF8bj {
    border-width: 1px;
    border-radius: 3px;
}

.suggest-size-l-sF8bj,
.suggest-size-l-sF8bj .suggest-suggest-mDQcM {
    font-size: 20px;
    line-height: 28px;
    height: 50px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.suggest-size-m-GOYz_ {
    border-width: 1px;
    border-radius: 3px;
}

.suggest-size-m-GOYz_,
.suggest-size-m-GOYz_ .suggest-suggest-mDQcM {
    font-size: 16px;
    line-height: 24px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.suggest-size-s-vBuxB {
    border-width: 1px;
    border-radius: 3px;
}

.suggest-size-s-vBuxB,
.suggest-size-s-vBuxB .suggest-suggest-mDQcM {
    font-size: 14px;
    line-height: 20px;
    height: 30px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.suggest-disabled-IuYyI,
.suggest-readOnly-Hos5g {
    cursor: default;
    background-color: #F5F5F5;
    border-color: #cccccc;
    color: #5C5C5C;
    box-shadow: none;
}

.suggest-root-eI4KJ:not(.suggest-error-VoYNw):not(.suggest-disabled-IuYyI):hover {
    border-color: #B8B8B8;
}

.suggest-root-eI4KJ:not(.suggest-error-VoYNw):not(.suggest-disabled-IuYyI):not(.suggest-focus-LTLdq):hover *::-moz-placeholder {
    color: #999999;
}

.suggest-root-eI4KJ:not(.suggest-error-VoYNw):not(.suggest-disabled-IuYyI):not(.suggest-focus-LTLdq):hover *::placeholder {
    color: #999999;
}

.suggest-icon-gzeld {
    display: inline-flex;
}

.suggest-root-eI4KJ *::-moz-placeholder {
    color: #999999;
}

.suggest-root-eI4KJ *::placeholder {
    color: #999999;
}

.suggest-focus-LTLdq *::-moz-placeholder {
    color: #999999;
}

.suggest-focus-LTLdq *::placeholder {
    color: #999999;
}

.suggest-focus-LTLdq {
    z-index: 1010;
}

.suggest-focus-LTLdq:not(.suggest-error-VoYNw),
.suggest-root-eI4KJ:not(.suggest-error-VoYNw):not(.suggest-disabled-IuYyI):focus-within {
    box-shadow: 0px 0px 1px 3px rgba(0, 170, 255, 0.3);
}

.suggest-focus-LTLdq.suggest-error-VoYNw {
    box-shadow: 0px 0px 1px 3px rgba(240, 60, 55, 0.3);
}

.suggest-root_stick-after-u8bIE {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.suggest-root_stick-before-s1NGU {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.suggest-root_stick-above-dIm_c {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.suggest-root_stick-below-scBUn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
}

.suggest-root_stick-after-u8bIE.suggest-root_active-iSfTB,
.suggest-root_stick-before-s1NGU.suggest-root_active-iSfTB {
    z-index: 20;
}

.suggest-root_stick-after-u8bIE:hover,
.suggest-root_stick-before-s1NGU:hover {
    z-index: 10;
}

.suggest-error-VoYNw {
    border-color: #FF6163;
    border-right-width: 1px;
}

.suggest-error-VoYNw:hover {
    border-color: #F05456;
}

.suggest-root_stick-before-s1NGU.suggest-size-s-vBuxB {
    margin-left: -1px;
}

.suggest-root_stick-before-s1NGU.suggest-size-m-GOYz_ {
    margin-left: -1px;
}

.suggest-root_stick-before-s1NGU.suggest-size-l-sF8bj {
    margin-left: -1px;
}

.tooltip-tooltip-box-uCgjr {
    box-sizing: border-box;
    display: inherit;
    width: inherit;
    position: relative;
}

.tooltip-target-wrapper-Xqu85 {
    display: inline;
}

.tooltip-tooltip-SyJrd {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
    box-shadow: 0 5px 17px 0 rgba(0, 0, 0, .15);
    white-space: nowrap;
    z-index: 1000;
}

.tooltip-arrow-hOlxF {
    box-sizing: border-box;
    width: 19px;
    height: 19px;
    position: absolute;
    display: flex;
    z-index: -1;
    justify-content: center;
    align-items: center;
}

.tooltip-arrow-hOlxF::before {
    content: '';
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    display: inline-block;
}

.tooltip-tooltip-SyJrd,
.tooltip-arrow-hOlxF::before {
    border: 1px solid transparent;
}

.tooltip-light-GzHP0 {
    border-radius: 3px;
    color: inherit;
    padding: 16px;
}

.tooltip-light-GzHP0,
.tooltip-light-GzHP0 .tooltip-arrow-hOlxF::before {
    background-color: #ffffff;
    border-color: #e0e0e0;
}

.tooltip-dark-yrirq {
    padding: 16px;
    color: #ffffff;
    border-radius: 3px;
}

.tooltip-dark-yrirq,
.tooltip-dark-yrirq .tooltip-arrow-hOlxF::before {
    background-color: #292929;
    border-color: #292929;
}

.tooltip-attention-zE4UZ {
    padding: 16px;
    color: inherit;
    border-radius: 0px;
}

.tooltip-attention-zE4UZ,
.tooltip-attention-zE4UZ .tooltip-arrow-hOlxF::before {
    background-color: #D6F1FF;
    border-color: #D6F1FF;
}

.tooltip-cover-qc4bS {
    padding: 0;
}

.tooltip-placement-top-Brf76 .tooltip-arrow-hOlxF,
.tooltip-placement-top-end-xzDLe .tooltip-arrow-hOlxF,
.tooltip-placement-top-start-vnuVc .tooltip-arrow-hOlxF {
    bottom: -10px;
}

.tooltip-placement-top-Brf76 .tooltip-arrow-hOlxF::before,
.tooltip-placement-top-end-xzDLe .tooltip-arrow-hOlxF::before,
.tooltip-placement-top-start-vnuVc .tooltip-arrow-hOlxF::before {
    box-shadow: 2px 2px 6px -3px rgba(0, 0, 0, .3);
    border-top-color: transparent;
    border-left-color: transparent;
}

.tooltip-placement-bottom-VAQ5Y .tooltip-arrow-hOlxF,
.tooltip-placement-bottom-end-Rw684 .tooltip-arrow-hOlxF,
.tooltip-placement-bottom-start-xD6Ii .tooltip-arrow-hOlxF {
    top: -10px;
}

.tooltip-placement-bottom-VAQ5Y .tooltip-arrow-hOlxF::before,
.tooltip-placement-bottom-end-Rw684 .tooltip-arrow-hOlxF::before,
.tooltip-placement-bottom-start-xD6Ii .tooltip-arrow-hOlxF::before {
    box-shadow: -2px -2px 6px -3px rgba(0, 0, 0, .3);
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.tooltip-placement-left-OHTrT .tooltip-arrow-hOlxF,
.tooltip-placement-left-end-Hl_lZ .tooltip-arrow-hOlxF,
.tooltip-placement-left-start-JMpen .tooltip-arrow-hOlxF {
    right: -10px;
}

.tooltip-placement-left-OHTrT .tooltip-arrow-hOlxF::before,
.tooltip-placement-left-end-Hl_lZ .tooltip-arrow-hOlxF::before,
.tooltip-placement-left-start-JMpen .tooltip-arrow-hOlxF::before {
    box-shadow: 2px -2px 6px -3px rgba(0, 0, 0, .3);
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.tooltip-placement-right-Y1hTn .tooltip-arrow-hOlxF,
.tooltip-placement-right-end-IDmOA .tooltip-arrow-hOlxF,
.tooltip-placement-right-start-fSHbA .tooltip-arrow-hOlxF {
    left: -10px;
}

.tooltip-placement-right-Y1hTn .tooltip-arrow-hOlxF::before,
.tooltip-placement-right-end-IDmOA .tooltip-arrow-hOlxF::before,
.tooltip-placement-right-start-fSHbA .tooltip-arrow-hOlxF::before {
    box-shadow: -2px 2px 6px -3px rgba(0, 0, 0, .3);
    border-top-color: transparent;
    border-right-color: transparent;
}

.tooltip-close-iqKsF {
    position: absolute;
    top: 0;
    right: 0;
    width: 19px;
    height: 19px;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    text-indent: 9999px;
    font-size: 0;
    outline: none;
    border: 0;
    background: url(https://www.avito.st/remote-modules/messenger/af36d7cc6/ae3767e2f4b7465a2568.svg) center no-repeat;
    opacity: .8;
}

.tooltip-close-iqKsF:hover {
    opacity: 1;
}

.tooltip-loader-sAN1v {
    width: 20px;
    height: 20px;
    margin: 5px;
}

@keyframes tooltip-spinner-rotating-LiYwz {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

