.error-screen-root-XMzcl {
    display: flex;
    flex-wrap: nowrap;
}

.error-screen-root_desktop-lHUgw {
    padding-top: 80px;
    align-items: center;
}

.error-screen-root_small-sSK8A {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.error-screen-actionsWrap-jWb64 {
    display: flex;
    flex-direction: column;
}

.error-screen-root_desktop-lHUgw .error-screen-actionsWrap-jWb64 {
    margin-right: 60px;
    margin-left: 60px;
}

.error-screen-title-dSi9x {
    font-weight: bold;
    white-space: nowrap;
    margin-bottom: 8px;
}

.error-screen-root_desktop-lHUgw .error-screen-title-dSi9x {
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    margin-top: 80px;
}

.error-screen-root_small-sSK8A .error-screen-title-dSi9x {
    font-size: 26px;
    line-height: 30px;
    text-align: center;
}

.error-screen-description-pUpnw {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
    white-space: pre;
}

.error-screen-root_small-sSK8A .error-screen-description-pUpnw {
    text-align: center;
}

.error-screen-buttonWrap-_m0Xn {
    width: 105px;
}

.error-screen-root_small-sSK8A .error-screen-buttonWrap-_m0Xn {
    margin: 0 auto;
}

.error-screen-root_desktop-lHUgw .error-screen-errorImage-w58mO {
    float: right;
    flex-shrink: 0;
}

.error-screen-root_small-sSK8A .error-screen-errorImage-w58mO {
    margin-bottom: 24px;
}

.theme-hiddenInput-cn7JF {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    margin: -1px;
    border: 0;
    overflow: hidden;
    padding: 0;
}

.theme-boxShadowFocus-NzA6Z:focus,
.theme-boxShadow-gE35T {
    box-shadow: 0 0 0 3px var(--color-palette-blue200);
    position: relative;
    z-index: 2;
}

.theme-transition-Jcu_Z,
.theme-bgTransition-r4oXu,
.theme-transformTransition-YU75L,
.theme-hoverableIcon-SthUF::before,
.theme-colorTransition-Z2k7q {
    transition: .2s ease;
}

.theme-bgTransition-r4oXu {
    transition-property: background-color;
}

.theme-colorTransition-Z2k7q {
    transition-property: color;
}

.theme-transformTransition-YU75L,
.theme-hoverableIcon-SthUF::before {
    transition-property: transform;
}

.theme-font_normal-D2n8j {
    font-size: 14px;
    line-height: 18px;
}

.theme-hoverableIcon-SthUF {
    position: relative;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.theme-hoverableIcon-SthUF:hover {
    color: var(--color-palette-black);
}

.theme-hoverableIcon-SthUF::before {
    position: absolute;
    content: ' ';
    top: -4px;
    left: -4px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transform: scale(0);
}

.theme-hoverableIcon-SthUF:hover::before {
    background-color: var(--color-palette-warmGray16);
    transform: scale(1);
}

.theme-hoverableIcon-SthUF > svg {
    position: relative;
    z-index: 1;
}

.button-root-M5dTG {
    position: relative;
    display: inline-flex;
    /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
    transition-property: color, background-color;
    color: var(--color-palette-white);
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;
}

.button-root_size_s-FBAe1 {
    padding: 6px 12px 8px;
    font-size: 14px;
    line-height: 18px;
}

.button-root_size_m-c5syf {
    padding: 9px 16px;
    font-size: 16px;
    line-height: 22px;
}

.button-root-M5dTG.button-root_disabled-KQHov,
.button-root-M5dTG.button-root_disabled-KQHov:hover {
    background-color: var(--color-palette-warmGray8);
    color: var(--color-palette-gray48);
    cursor: default;
}

.button-root_fullwidth-fPbQf {
    width: 100%;
}

.button-content-zb5L9 {
    display: flex;
    overflow: hidden;
}

.button-root-M5dTG:active:not(.button-root_disabled-KQHov) .button-content-zb5L9 {
    transform: translateY(1px);
}

.button-spinnerWrap-NInMD {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    padding: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-sizing: border-box;
}

.button-root_primary-HL4OT {
    background-color: var(--color-palette-blue500);
}

.button-root_primary-HL4OT:hover {
    background-color: var(--color-palette-blue700);
}

.button-root_accent-GfmRM {
    background-color: var(--color-palette-green500);
}

.button-root_accent-GfmRM:hover {
    background-color: var(--color-palette-green700);
}

.button-root_safeDeal-mf1SF {
    background-color: var(--color-palette-purple600);
}

.button-root_safeDeal-mf1SF:hover {
    background-color: var(--color-palette-purple700);
}

.button-root_beige-K0YpL {
    color: var(--color-palette-black);
    background-color: var(--color-palette-beige50);
}

.button-root_beige-K0YpL:hover {
    background-color: var(--color-palette-beige200);
}

.button-root_secondary-CrW_U {
    color: var(--color-palette-blue600);
    background-color: var(--color-palette-blue50);
}

.button-root_secondary-CrW_U:hover {
    background-color: var(--color-palette-blue200);
}

.button-root_secondary2-QZ_Ve {
    color: var(--color-palette-blue700);
    background-color: var(--color-palette-blue100);
    border-radius: 100px;
}

.button-root_secondary2-QZ_Ve:hover {
    background-color: var(--color-palette-blue200);
}

.button-root_defaultInverse-RzrQl {
    background-color: var(--color-palette-gray68);
}

.button-root_defaultInverse-RzrQl:hover {
    background-color: var(--color-palette-gray76);
}

.button-root_warning-JGoxr {
    color: var(--color-palette-black);
    background-color: var(--color-palette-yellow500);
}

.button-root_warning-JGoxr:hover {
    background-color: var(--color-palette-yellow600);
}

.icon-icon-ZlCGX {
    display: inline-flex;
    flex-shrink: 0;
    vertical-align: top;
}

.icon-icon_withBackground-upEd4 {
    border-radius: 50%;
}

.spinner-root-_gMRv {
    transform: rotate(0);
    animation: spinner-rotate-Ooxze 1s linear infinite;
}

@keyframes spinner-rotate-Ooxze {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.contact-avatar-root-YkOEi {
    display: inline-block;
    width: 45px;
    height: 45px;
    position: relative;
    flex-shrink: 0;
}

.contact-avatar-avatar-jK7ja {
    display: block;
    background-color: var(--color-palette-gray4);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
}

.contact-avatar-root_square-gayxR .contact-avatar-avatar-jK7ja {
    border-radius: 0;
}

.contact-avatar-root_transparent-q5VdJ .contact-avatar-avatar-jK7ja {
    background-color: transparent;
}

.contact-avatar-root_online-s9l5r .contact-avatar-onlineMarker-Ly_0W {
    position: absolute;
    width: 5px;
    height: 5px;
    right: -1px;
    bottom: -3px;
    border: 1px white solid;
    border-radius: 50%;
    background-color: #97cf26;
}

.contact-avatar-root_role_employee-GYvqB::after,
.contact-avatar-root_role_seller-Kt1OS::after,
.contact-avatar-root_role_company-V9nIH::after,
.contact-avatar-root_role_buyer-y62Of::after {
    content: '';
    display: flex;
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(5px, 4px);
    color: var(--color-palette-white);
    font-size: 11px;
    background-color: var(--color-palette-blue500);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

.contact-avatar-root_role_employee-GYvqB::after {
    background-image: url(https://www.avito.st/remote-modules/messenger/af36d7cc6/552464b46e203d2bfa7f.svg);
}

.contact-avatar-root_role_seller-Kt1OS::after {
    background-image: url(https://www.avito.st/remote-modules/messenger/af36d7cc6/8c53e6e3786f44a377ed.svg);
}

.contact-avatar-root_role_company-V9nIH::after {
    background-image: url(https://www.avito.st/remote-modules/messenger/af36d7cc6/6f261acb8e06be6881a1.svg);
}

.contact-avatar-root_role_buyer-y62Of::after {
    background-image: url(https://www.avito.st/remote-modules/messenger/af36d7cc6/ffdb1421211d8ec69a3b.svg);
}

.app-layout-content-B0y8A {
    background: var(--color-palette-white);
    border-radius: 3px;
    box-shadow: 0 5px 17px 0 rgba(0, 0, 0, .15);
    position: relative;
    height: 590px;
    max-height: calc(80vh - 32px);
    width: 375px;
}

.app-layout-content_fit-_2Gdz {
    height: auto;
    width: auto;
}

.app-layout-content_expand-XVZX1 {
    animation: app-layout-expand-H4hrI 100ms ease-in-out 1;
}

.app-layout-content_collapse-deOTc {
    animation: app-layout-collapse-gVe48 150ms ease-in-out 1;
}

@keyframes app-layout-expand-H4hrI {
    0% {
        width: 250px;
        height: 74px;
    }

    100% {
        height: 590px;
        width: 375px;
    }
}

@keyframes app-layout-collapse-gVe48 {
    100% {
        width: 250px;
        height: 40px;
    }

    0% {
        height: 590px;
        width: 375px;
    }
}

/* stylelint-disable */
msgr-reset {
    height: 100%;
    width: 100%;
    font-family: Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,sans-serif;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
       -moz-text-size-adjust: none;
            text-size-adjust: none;
}

msgr-reset:not(.reset-root_isMobile-b1O0q) {
    font-size: 13px;
    line-height: 1.5;
}

msgr-reset.reset-root_isMobile-b1O0q {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    height: auto;
    min-height: 100%;
}

msgr-reset input[type=search] {
    -webkit-appearance: none;
}

msgr-reset input::-webkit-search-cancel-button,
msgr-reset input[type=search]::-webkit-search-decoration {
    display: none;
}

msgr-reset div,
msgr-reset span,
msgr-reset h1,
msgr-reset h2,
msgr-reset h3,
msgr-reset h4,
msgr-reset h5,
msgr-reset h6,
msgr-reset p,
msgr-reset a,
msgr-reset img,
msgr-reset ul,
msgr-reset ol,
msgr-reset li,
msgr-reset form,
msgr-reset label,
msgr-reset table,
msgr-reset caption,
msgr-reset tbody,
msgr-reset tfoot,
msgr-reset thead,
msgr-reset tr,
msgr-reset th,
msgr-reset td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    vertical-align: baseline;
}

msgr-reset a:hover,
msgr-reset a:focus {
    text-decoration: none;
}

msgr-reset th,
msgr-reset td {
    vertical-align: top;
}

msgr-reset ol,
msgr-reset ul,
msgr-reset menu {
    list-style: none;
}

msgr-reset table {
    border-collapse: collapse;
    border-spacing: 0;
}

msgr-reset article,
msgr-reset aside,
msgr-reset details,
msgr-reset figcaption,
msgr-reset figure,
msgr-reset footer,
msgr-reset header,
msgr-reset hgroup,
msgr-reset nav,
msgr-reset section,
msgr-reset summary {
    margin: 0;
    display: block;
}

msgr-reset h1,
msgr-reset h2,
msgr-reset h3,
msgr-reset h4,
msgr-reset h5,
msgr-reset h6 {
    font-weight: normal;
}

msgr-reset button,
msgr-reset textarea,
msgr-reset select,
msgr-reset input:focus,
msgr-reset input:active,
msgr-reset a:active,
msgr-reset a:focus,
msgr-reset a:hover {
    outline: 0;
}

msgr-reset img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

msgr-reset button {
    padding: 0;
    border: none;
}

msgr-reset button,
msgr-reset input,
msgr-reset select,
msgr-reset textarea {
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    vertical-align: baseline;
}

msgr-reset button,
msgr-reset input {
    line-height: normal;
    padding: 0;
}

msgr-reset input[type=checkbox],
msgr-reset input[type=radio] {
    padding: 0;
    margin: 0;
}

msgr-reset th {
    font-weight: inherit;
}

msgr-reset textarea {
    overflow: auto;
    vertical-align: top;
}

msgr-reset textarea,
msgr-reset input,
msgr-reset button {
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

msgr-reset select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--color-palette-black);
}

msgr-reset input::-webkit-outer-spin-button,
msgr-reset input::-webkit-inner-spin-button,
msgr-reset input[type=search]::-webkit-search-cancel-button,
msgr-reset input[type=search]::-webkit-search-decoration,
msgr-reset input[type=file]::-webkit-file-upload-button {
    padding: 0;
    -webkit-appearance: none;
    margin: 0;
}

msgr-reset button::-moz-focus-inner,
msgr-reset input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

msgr-reset input[type=number] {
    -moz-appearance: textfield;
}

msgr-reset ::-ms-clear,
msgr-reset ::-ms-reveal,
msgr-reset ::-ms-expand {
    display: none;
}

msgr-reset * {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    outline: 0;
}

.notification-wrapper-scAPO {
    position: fixed;
    left: 10px;
    right: 10px;
    z-index: 9999;
}

.notification-wrapper_type_error-QR32U {
    top: 66px;
}

.notification-wrapper_type_info-Njz9N {
    bottom: 10px;
}

.notification-notification-obEyP {
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
    padding: 14px 16px;
    border-radius: 9px;
    display: block;
    background-color: var(--color-palette-gray84);
    color: var(--color-palette-white);
    opacity: 1;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: .25s;
}

.notification-notification_type_error-wu40K {
    background-color: var(--color-palette-red500);
    opacity: 0;
    transition-duration: .26s;
}

.notification-notification_type_info-Cs5rv {
    bottom: 10px;
    transform: translateY(calc(100% - 10px));
    transition-duration: .25s;
}

.notification-notification_animationStatus_entered-c9wTI {
    transform: translateY(0);
    opacity: 1;
}

.notification-notification_animationStatus_exiting-_OHpp,
.notification-notification_animationStatus_exited-FwOYp {
    opacity: 0;
}

.swipeable-out-root-zkEiJ {
    transform: translateY(0);
    opacity: 1;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: .25s;
}

@keyframes popup-appear-JwQU3 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes popup-disappear-Jg8hN {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.popup-root-FmBHm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.popup-fader-NtZe9 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .32);
    animation: popup-appear-JwQU3 .3s;
}

.popup-wrapper-VemOa {
    position: relative;
    width: 300px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 24px;
    max-height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: var(--color-palette-white);
    animation: popup-appear-JwQU3 .3s;
    border-radius: 15px;
}

.popup-root_out-xZ_K6 .popup-fader-NtZe9 {
    animation-name: popup-disappear-Jg8hN;
}

.popup-root_out-xZ_K6 .popup-wrapper-VemOa {
    animation-name: popup-disappear-Jg8hN;
}

.popup-title-M4_ie {
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    text-align: left;
}

.popup-description-rtby6 {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    overflow-y: auto;
}

.popup-title-M4_ie + .popup-description-rtby6 {
    margin-top: 10px;
}

.popup-buttons-xbVsQ {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    margin-left: -10px;
    margin-top: 14px;
}

.popup-root_column-mvE6J .popup-buttons-xbVsQ {
    flex-wrap: wrap;
}

.popup-buttonWrap-YJ8rp {
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.popup-buttonWrap-YJ8rp:first-child {
    font-weight: bold;
}

.popup-secondaryButton-hz3DS {
    background: var(--color-palette-blue50);
    border-color: var(--color-palette-blue50);
    color: var(--color-palette-blue500);
}

.fullscreen-root-eB6W1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--color-palette-white);
}

.fullscreen-root_transparent-Lnvnv {
    background-color: transparent;
}

.dialog-content-d5p7m {
    border-radius: 20px;
}

.dialog-content-d5p7m > div {
    width: 470px;
    min-height: 170px;
    border-radius: 20px;
    overflow: hidden;
}

.dialog-contentWrapper-QUZNT {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 36px 40px 48px;
    height: 100%;
    box-sizing: border-box;
}

.dialog-title-OwdVC {
    margin-bottom: 24px;
}

.dialog-description-wCkRw {
    margin-bottom: 24px;
}

.dialog-button-EIFSE {
    margin-top: auto;
}

