body {
    background-color: #f0f2f1;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

div {
    text-align: center;
    margin-top: 30px;
}

p {
    margin: 8px;
}

button {
    margin: 5px;
}