body {
    background-color: #f0f2f1;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

#logout {
    text-align: right;
    margin: 15px;
}

a {
    color: #686868;
    text-decoration: none;
}

a:hover {
    transition: all 0.25s;
    color: #464646;
}

button {
    margin: 5px;
}

.inputWindow {
    margin-left: auto;
    margin-right: auto;
    width: 630px;
    text-align: center;
}

.property {
    width: 180px;
    display: inline-block;
    text-align: left;
}

input {
    width: 300px;
}


.deleteImage {
    content: url(/img/deleteButton.png);
    -webkit-transition: all .19s;
    opacity: 0.8;
    width: 19px;
    height: 19px;
}

.removeButton {
    padding-top: 3px;
    outline: none;
    border: 0;
    background: transparent;
}

.removeButton:hover .deleteImage {
    -webkit-transition: all 0.19s;
    opacity: 1;
    cursor: pointer;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border: 1px solid #c6c8c7;
    border-collapse: collapse;
}

table th {
    font-weight: bold;
    padding: 5px;
    background: #e9e9e9;
    border: 1px solid #c6c8c7;
}

table td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
}

.positionColumn {
    background-color: #ececec;
    font-weight: bolder;
}

.statisticsButton {
    font-size: 12px;
    margin: 3px;
    font-weight: normal;
}
