.index-layout-WcVLz {
    position: fixed;
    bottom: 0;
    right: calc(50% - 870px); /* 50% - 482px (половина контента) - (ширина развернутого мини) - (отступ) */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    z-index: 1000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

@media (max-width: 1780px) { /* ширина начиная с которой мини привязан к правому краю и едет на контент */
    .index-layout-WcVLz {
        right: 20px;
    }
}

.index-target-QWE1c {
    position: absolute;
    bottom: 40px;
    left: 124px;
}

.index-target_hasPush-_oHfM {
    left: 148px;
}

.index-wrapper-vy8Nq {
    margin-bottom: 12px;
}

