body {
    background-color: #f0f2f1;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
    color: #686868;
    text-decoration: none;
}

a:hover {
    transition: all 0.25s;
    color: #464646;
}

#menu {
    display: flex;
    justify-content: center;
}

#menu li {
    display: inline-block;
    margin-right: 70px;
}

#menu a {
    font-size: 18px;
    font-weight: bold;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border: 1px solid #c6c8c7;
    border-collapse: collapse;
}

table th {
    font-weight: bold;
    padding: 5px;
    background: #e9e9e9;
    border: 1px solid #c6c8c7;
}

table td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
}

#userId {
    width: 30px;
}

#userName {
    width: 100px;
}

#adsCount {
    width: 100px;
}

.copyImg {
    content: url(/img/copy.png);
    -webkit-transition: all .19s;
    opacity: 0.8;
    width: 20px;
    height: 20px;
}

.copyBtn {
    padding-top: 3px;
    outline: none;
    border: 0;
    background: transparent;
}

.copyBtn:hover .copyImg {
    -webkit-transition: all 0.19s;
    opacity: 1;
    cursor: pointer;
}


.logTextArea {
    margin: auto;
    margin-top: 80px;
    height: 400px;
    width: 1000px;
    overflow-y: scroll;
    background-color: white;
    border: 3px solid gray;
    overflow-y:
}